html, body {
    min-height:100%;
    background: #AEAEAE;
}
.home{

}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Yaldevi Colombo ExtraLight';
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
  color: #5C715E;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	color: #5C715E;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.container {
  position: absolute;
  width: 939px;
  height: 748px;
  left: 120px;
  top: 184px;

  background: rgba(0, 0, 0, 0.48);
  filter: blur(2.5px);
}
.centered {
 position: absolute;

 height: 179px;
 left: 120px;
 top: 470px;

 font-family: 'Urbanist';
 font-style: normal;
 font-weight: 600;
 font-size: 128px;
 line-height: 180px;
 text-align: center;
 letter-spacing: 20px;

 color: #5C715E;
}
.text-block {
 position: absolute;
 width: 1135px;
 height: 230px;
 left: 72px;
 top: 460px;

 background: #F2F9F1;
}
.container .btn {
position: absolute;
width: 393px;
height: 66px;
left: 210px;
top: 18px;
background: #F2F9F1;
font-family: 'Yaldevi Colombo ExtraLight';
font-style: normal;
font-weight: 275;
font-size: 50px;
line-height: 66px;
text-align: center;
letter-spacing: 0.3px;

color: #5C715E;
}
.about{
background: #AEAEAE;
}
.img{
  position: absolute;
  width: 939px;
  height: 748px;
  left: 120px;
  top: 184px;

  background: rgba(0, 0, 0, 0.48);
  filter: blur(2.5px);
}
